* {
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h2 {
    margin: 30px !important;
}
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
body {
    overflow-x: hidden;
    position: absolute;
}
.card-img-top {
    border-radius: 0px !important;
}
#topHeader {
    margin: 0;
    width: 100vw;
    z-index: 3;
    height: 40px;
    position: fixed;
    background-color: rgb(229, 245, 242);
}
.nav-link {
    font-size: 14px;
}
#firstTask {
    margin-top: 60px;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
th,
td {
    border: 1px solid rgb(160 160 160) !important;
    padding: 8px 10px !important;
}
tr:nth-child(-n + 5) {
    background-color: rgb(51, 135, 252);
}
thead th {
    background-color: rgb(228 240 245);
}
.bi-search {
    color: orange;
}
.accountBtn {
    width: 150px;
}
.dropdown-toggle::after {
    margin-left: 30px !important;
    color: orange;
}
.Ñhevron::after {
    display: none !important;
}
.bi-chevron-down {
    color: orange;
    margin-left: 50px;
}
.input-group-text {
    background-color: transparent !important;
    border-right: none !important;
}
.form-control {
    border-left: none !important;
}
.card {
    background-color: transparent !important;
    padding: 10px;
}
#small_img {
    height: 100%;
}
#price {
    background: #fdd446;
    width: max-content;
    white-space: nowrap;
}
#buyBtn {
    background: linear-gradient(90deg, #fdd446 0%, #f79b47 100%);
    height: 37px;
}
#registr {
    background: #fdd446;
}
#auth {
    border: 2px solid #fdd446;
}

footer {
    margin-top: 80px;
    padding: 40px 40px 0 40px;
    background-color: #fdd446;
}
.list-group li {
    font-size: 18px;
    margin-top: 20px;
}
b {
    font-size: 20px;
    padding: 0 !important;
}
#socials {
    margin-top: 10px;
}
#socials img {
    height: 20px;
    width: auto;
}
#footer_company {
    margin-top: 20px;
    color: #00000080;
}
#pagin {
    margin-top: 20px;
}
.page-link {
    background-color: transparent !important;
    font-weight: 700;
    color: black !important;
    border: none !important;
}
.active > .page-link {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #fdd446 !important;
}
.gridDiv {
    margin: 0 auto;
}
.invalid {
    border: 2px solid rgb(243, 88, 88);
}
.error {
    color: red;
}
.inputGroup {
    margin-top: 10px;
}
#secondTask {
    position: relative;
}
.circles {
    position: absolute;
    opacity: 50%;
    background: #fdd44680;
    box-shadow: 0px 0px 150px 150px #fdd44680;
    border-radius: 50%;
    z-index: -30;
}
#circle_1 {
    width: 364.62px;
    height: 335px;
    top: 200px;
    left: -235px;
}
#circle_2 {
    width: 550px;
    height: 550px;
    top: 1329px;
    right: -235px;
}
#circle_3 {
    width: 768px;
    height: 705.31px;
    margin: 0 auto;
    bottom: 0px;
}
#registrationForm {
    padding-left: 30px;
}
