* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.row{
  margin-right: 0 !important;
  margin-left: 0 !important;
}
table {
  border: 2px solid black;
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}
tr:nth-child(-n + 5) {
  background-color: rgb(51, 135, 252);
}
thead th {
  background-color: rgb(228 240 245);
}
.bi-search{
  color: orange
}
.accountBtn{
  width: 150px;
}
.dropdown-toggle::after{
  margin-left: 30px !important;
  color: orange;
}
.Ñhevron::after{
  display: none !important;
} 
.bi-chevron-down{
  color: orange;
  margin-left: 50px;
}
.input-group-text{
  background-color: transparent !important;
  border-right: none !important;
}
.form-control {
  border-left: none !important;
}
.card{
  padding: 10px;
}
#small_img {
  height: 100%;
}
#price {
  background: #FDD446;
  width: max-content;
  white-space: nowrap;
}
#buyBtn {
  background: linear-gradient(90deg, #FDD446 0%, #F79B47 100%);
  height: 37px;
}
#registr {
  background: #FDD446;
}
#auth {
  border: 2px solid #FDD446;
}

footer{ 
  background-color: #FDD446;
}
.list-group li {
  font-size: 18px;
  margin-top: 30px;
}
b {
  font-size: 20px;
  padding: 0 !important;
}
#socials{
  margin-top: 10px;
}
#socials img {
  height: 20px;
  width: auto;
}
#footer_company {
  margin-top: 20px;
  color: #00000080;
}
#pagin {
  margin-top: 20px;
}
.page-link{
  font-weight: 700;
  color: black !important;
  border: none !important;
}
.active>.page-link{
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: #FDD446 !important;
}
.gridDiv {
  margin: 0 auto;
}